/* -------Fonts-------- */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");
/* -------Media query template-------- */
/* @media screen and (max-width: 992px) {
  body {
    background-color: blue;
  }
} */


.appParent{
  display: flex;
  flex-direction: row;
  font-family: 'Noto Sans', sans-serif;
  width: 100vw;
  height: 100vh;
  /*  */

}

.appMain{
  display: flex;
  flex-direction: column;
  width: 65vw;
  border: solid;
  border-color:#e2e8f0;
  max-width: 1000px; 
  /* border-color:blue;   */

}
.appMainHeader{
  display: flex;
  flex-direction: row;
  height: 40px;
  background-color: #045de9;
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
}

.appMainHeaderTitle{
  color: white;
  font-size: 30px;
  padding-left: 20px;
}

.appMainSpacer2{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.appAddHabitBtn{
  background-color: white;
  color: royalblue;
  border-radius: 10%;
  font-weight: 700;
  height: 30px;
  width: 120px;
  border: none;
  margin-top: 4.5px;
  margin-right: 15px;
}


@media screen and (max-width: 750px) {
  .appAddHabitBtn{
    font-size: 12px;
  }
}

@media screen and (max-width: 625px) {
  .appAddHabitBtn{
    font-size: 12px;
  }
}


@media screen and (max-width: 525px) {
  .appAddHabitBtn{
    font-size: 10px;
    width: 100px;
  }
}

@media screen and (max-width: 450px) {
  .appAddHabitBtn{
    font-size: 10px;
    width: 80px;
    height: 26px;
    margin-top: 6px;
  }
}