
.TitleC{
  text-align: center;
}

.ContainerC{
  display: flex;
  width: 30vw;
  
}

.QuestionTextC{
  display: flex;
  width: 30vw;
}

.InputC{
  display: flex;
  size: 10vw;
  border-top-width: 0px;
  border-left: 0px;
  border-right: 0px;
}

.RightSide{
  display: flex;
}