
/* Title Section  */
.TitleC{
  text-align: center;
  background-color: rgb(29 161 242); 
  color: white;
  font-family: Helvetica Neue;
  height: 16vh;
  /* //border-style: solid; */
  border-bottom: 2px solid rgb(177, 175, 175);
  width: 100vw;
}
.titleText{
  height: 4vh;
  font-size: 4vh;
  text-decoration: underline;
}
.datePicker{
  display: flex;
  margin-top: 23px;
  flex-direction: row;
  justify-content: center ;
  align-items: center;
  /* margin-left: 5%; */
}

.subDatePicker{
  display: flex;
  margin-top: 23px;
  flex-direction: row;
  justify-content: flex-start ;
  align-items: center;
  gap: 6%; 
}
/* End title section */

/* Start Questions Styling  */
.ContainerC{
  display: flex;
  flex-direction: right;
  width: 35vw;
  margin-top: 7px;
  margin-left: 2vh;
    /* border-style: solid; */
}
.QuestionTextC{
  display: flex;
  color: rgb(34, 33, 33);
  font-family: 'Courier New', Courier, monospace;
  width: 15vw;
  align-items: center;
  /* border-style: solid; */
}
.Input{
  display: flex;
  width: 18.3vw; 
  margin-top: 3px;
}
/* End Questions Styling  */
/* Start submit & clear styling  */
.submitButton{
  margin-top: 10px;
  margin-left: 1vh;
  
  width: 33.2vw;
  height: 5vh;
  color: rgb(29 161 242);
}
/* End sumbit & clear styling*/

/*Start FormTable Start*/
.formTable{
  display: flex;
  border-bottom: solid rgb(226, 226, 226);
}
/*Start FormTable End*/


/*Start Table Styling*/
.table{
  /* background-color:white;  */
  /* border-style: solid; */

  margin-right: 20px;
  border-left: solid rgb(226, 226, 226);
  padding-left: 20px;
  overflow: hidden  ;
  width: 100%;
}

.smallTableDiv{
  overflow:scroll;
  /* background-color: aqua; */
}

.tableTitle{
  color: black;
  font-size: 4vh;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
  font-family: 'Courier New', Courier, monospace;
}

th{
  /* height: 1vh; */
  font-family: 'Courier New', Courier, monospace;
}

td{
  text-align: center;
    /* width: 10vw; */
  /* border-style: solid; */
}


.tableButton{
  width: 6.5em;
  background-color:rgb(226, 226, 226);
}


/*End Table Styling*/

/*Start Notes Styling*/
  .notesParent{
    display: flex;
    flex-direction: row;

  }

  .posNotes{
    
    width: 30vw;
    margin-left: 2px;
    margin-top: 3px;
    height: 10vh;
    border-style: solid;
    border-color: rgb(226, 226, 226);
  }

  .negNotes{
    
    width: 30.4vw;
    margin-top: 3px;
    border-style: solid;
    border-color: rgb(226, 226, 226);
  }

  .notesTableTitle{
    text-align: center  ;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3vh;
    margin-top:3px;
    

  }

/*End Notes Styling*/

/* Start Edit & Delete Styling */
.EditDelete{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

  /* Start Delete Styling */

  
  .deleteContainer{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    width: 18vw;
    margin-top: 10px;
  }

  /* End Delete Styling */

/* Start Edit & Delete Styling */





/* .numberPicker{
  height: 100vh;
  /* margin-left: 1000px; 
} */


/* .InputC{
  display: flex ;
  size: 10vw;
  border-top-width: 0px;
  border-left: 0px;
  border-right: 0px;
} */
/* .RightSide{
  display: flex;
}
td{
  text-align: center;
  border-style: solid;
}
.Table{  
  display: flex ;
} */

