/* Title/top Section  */
.TitleC{
  text-align: center;
  background-color: rgb(29 161 242); 
  color: white;
  height: 20vh;
  border-bottom: 2px solid rgb(177, 175, 175);
  width: 100vw;
}
.titleText{
  text-decoration: underline;
  font-family:Trebuchet MS, sans-serif;
  font-weight: bold;
  font-size: clamp(.75rem, 0.5rem + 2.2vw,2.5vw);  
}

@media screen and (max-height: 380px) {
  .titleText {
    color:olive;
    font-size: clamp(0rem, 0.1rem + 1.8vw,2.5vw);  
  }
}






.titleSecondRow{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 12vh;
}

.submissionAlerts{
  width: 40vw;
  padding-top: 1.5%; 
}

.datePicker{
  width: 30vw;
  padding-top: 1.5%;
  padding-right: 10%;
}

.login{
  width: 30vw;
  padding-top: .5%;
}

.userNameinput{
  
  width: 10.48vw;
  margin-top: .5%;
  margin-left: .8%;
  /* height: 1.5vh; */
} 

@media screen and (max-height: 720px) {
  .userNameinput {
    color: olive;
    height:1.5vh ;
    width: 10.48vw;
    margin-top: .5%;
    margin-left: .8%;
  }

  .passwordinput{
    color: olive;
    height:1.5vh ;
    width: 10.48vw;
    margin-top: .5%;
    margin-left: .8%;
  }

  .userSubmitButton{
    width: 19vw;
    margin-top: 1%;
    font-family:"'Courier New', Courier, monospace";
    color: rgb(29 161 242);
    height:2.8vh ;
  }

} 


.passwordinput{
  width: 10.48vw;
  margin-top: .5%;
  margin-left: .8%;
}

.userSubmitButton{
  width: 19vw;
  margin-top: 1%;
  font-family:"'Courier New', Courier, monospace";
  color: rgb(29 161 242);
}

.userLogoutButton{
  font-family:"'Courier New', Courier, monospace";
  color: rgb(29 161 242);
  width: 19vw;
}
/*End Title/Top Section */
/*Start FormTable*/
.formTable{
  display: flex;
  border-bottom: solid rgb(226, 226, 226);
}
  /* Start Questions*/
  .ContainerC{
    display: flex;
    flex-direction: right;
    width: 35vw;
    margin-top: 7px;
    margin-left: 2vh;
  }
  .ContainerC{
    display: flex;
    flex-direction: right;
    width: 35vw;
    margin-top: 7px;
    margin-left: 2vh;
  }
  .QuestionTextC{
    display: flex;
    color: rgb(34, 33, 33);
    font-family: 'Courier New', Courier, monospace;
    width: 15vw;
    align-items: center;
  }
  .Input{
    display: flex;
    width: 18.1vw; 
    margin-top: 3px;
  }
  /* End Questions*/
  /* Start Table*/
  .table{
    margin-right: 20px;
    border-left: solid rgb(226, 226, 226);
    padding-left: 20px;
    overflow: hidden  ;
    width: 100%;
  }
  .tableTitle{
    color: black;
    font-size: 4vh;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
    font-family: 'Courier New', Courier, monospace;
  }
  th{
    font-family: 'Courier New', Courier, monospace;
  }
  td{
    text-align: center;
  }
  .tableButton{
    width: 6.5em;
    background-color:rgb(226, 226, 226);
  }
  .smallTableDiv{
    overflow:scroll;
  }
  .notesTableTitle{
    text-align: center  ;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3vh;
    margin-top:3px;
  }
  .notesParent{
    display: flex;
    flex-direction: row;
  }
  .posNotes{
    width: 30vw;
    margin-left: 2px;
    margin-top: 3px;
    height: 10vh;
    border-style: solid;
    border-color: rgb(226, 226, 226);
  }
  .negNotes{
    width: 30.4vw;
    margin-top: 3px;
    border-style: solid;
    border-color: rgb(226, 226, 226);
  }
  .EditDelete{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  .deleteContainer{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    width: 18vw;
    margin-top: 10px;
  }

  /* End Table*/
.submitButton{
  margin-top: 10px;
  margin-left: 1vh;
  width: 33.2vw;
  height: 5vh;
  color: rgb(29 161 242);
}

.nulltable{
  font-family:"'Courier New', Courier, monospace";
  width: 100vw;
  padding-top: 15%;
  padding-left: 8%;
  border-left: solid rgb(226, 226, 226);
  font-size: 3vh;
}
/*End Form Table */








